<p>contact works!</p>

<div >
  <mat-card>
  <form class="example-container" >
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
        <mat-form-field appearance="fill">
          <mat-label>Entrer votre email</mat-label>
          <input matInput placeholder="pat@example.com" required>
<!--         <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Votre message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </form>
</mat-card>
  </div>
