<!-- <p>search works!</p> -->

<form >
             <!-- <mat-form-field class="example-full-width">
              <mat-label>Votre recherche</mat-label>
              <input matInput placeholder="Histoire" value="neg mawon">
              </mat-form-field>  -->

              <p class="bouton-aligne">
                  <mat-form-field appearance="outline">
                    <mat-label>Votre recherche</mat-label>
                    <input type="search" matInput placeholder="Par ex. Neg mawon">

       <!--             <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>  -->
              <!--      <mat-hint>Hint</mat-hint>  -->
                  </mat-form-field>
                </p>
  
              <button mat-raised-button class="example-button-row">Rechercher</button>
          
</form>